body{
    width: 100vh;
    height: 100vh;

}
header{
    display: flex;
    flex-direction: row;
    width: 90vh;
    height: 30vh;
    justify-content: space-between;
}
a{
    height: 5vh;
    width: 30vh;
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    padding-top: 25px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 90px;
}
img{
    margin: 5px 20px;
}

.container{
    
    display: flex;
    flex-direction: column;
    
}
#question{
    margin-bottom: 10px;
    background-color: aqua;
    width: 100%;
}
button{
    margin-top: 20px;
    background-color: black;
    color: white;
    font-size: 25px;
    align-items: center;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 90px;
}
